.perfil {
	background-image: url('../images/fundo.jpg');
	width: 100%;
	height: 140px;
}

.img-perfil {
	width: 90px;
	margin-left: 70px;
	margin-top: 5px;
}

.cor-default{
//	background-color: #4285f4;
	background-color: #8B0000;
}
